[Desktop Entry]
Type=Application
Version=1.0
Name=gtkmenuplus
GenericName=gtkmenuplus
Comment=Create GTK menus from text files
Exec=gtkmenuplus -h
Icon=gtkmenuplus
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=true
