
[Desktop Entry]
Type=Application
Version=1.0
Name=gtkmenuplus
GenericName=gtkmenuplus
Comment=create a popup menu from a configuration file
Exec=gtkmenuplus -h
Icon=gtkmenuplus
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=true
