# Note: This file is ignored if its dirpath is used as "launcher=dirpath".
[Desktop Entry]
Encoding=UTF-8
Name=<span foreground="red">red (redirect)</span>
Comment=redirected from .gtkmenuplus.desktop
Icon=gimp
# Format applies to contained items, and cascades.
Format=foreground="red"
# You can also apply direct (local) formatting to Name= and Comment=
# (label and tooltip), i.e.
# Name=<span>background="green">submenu name</span>
