[Desktop Entry]
Type=Application
Name=4/3d (empty category)
Comment=this entry's {Categories=} exists and is empty
Exec=true
Terminal=false
Icon=gtk-yes
Categories=
