[Desktop Entry]
Type=Application
Name=Leafpad in ./abspath=
Comment=Simple text editor
Exec=leafpad %f
Icon=leafpad
Terminal=false
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
